# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# Git
.git/
.gitignore

# Uploads directory (we don't want to bake user test uploads into the initial image)
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/

# Ignore local sqlite DB to prevent overriding
mydb.db
