{% extends "base.html" %}

{% block title %}Home - Medicinal Leaf Classifier{% endblock %}

{% block content %}
<div id="main">
  <h2>Ayurvedic &amp; Medicinal Plants!</h2>
  <p>Owing to fast paced world that we are living in, we are getting far from the nature. While the lifestyle that we
    live can have adverse effect on us, it is important to know that by introducing small changes in our daily life can
    go a long way in keeping us healthy and energetic. Therefore, the importance of Ayurveda holds true in today's life
    as it is based on the principal of bringing us close to nature and relying on its natural powers to cure us and keep
    us healthy without any side effects.</p>
  <p>Thanks to the use of natural ingredients and medicinal herbs, Ayurvedic medicines and products today have become a
    symbol of safety in contrast to synthetic drugs that are considered unsafe and hazardous for overall health.</p>
</div>
<div id="side">
  <div id="sideA">
    <div id="sideB">
      <div id="sideC">
        <div id="sideD">
          <h2>Benefits &amp; Importance</h2>
          <p>Ayurvedic herbs are time tested for their health and other benefits. The nutritive value that they pack are
            highly recommended for their <a href="#">healing powers</a>. Known to induce <strong
              style="text-decoration: line-through;">no side effects</strong>, they have a unique aroma and flavor and
            when consumed regularly, they act as a perfect mechanism to bring about a balanced harmony between mind and
            body. They rejuvenate the whole system instead of focusing on one specific <a href="#">organ or body
              part</a>.</p>
          <div id="cleanup"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}